*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.main3{
    display:flex;
    justify-content: center;
    padding:1rem;
}
.item{
    border:1px solid rgb(150, 150, 150);
    display:flex;
    flex-direction:column;
    border-radius:5px;
    box-shadow: 2px 2px 2px 2px rgb(201, 200, 200);
}
.bottom{
    display:flex;
    flex-direction:row;
    padding:1rem;
    justify-content: space-between;
}
.top{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
input,textarea{
    border:none;
    outline:none;
    min-width:20rem;
    min-height: 2.2rem;
    padding:0.5rem;
}
.box1{
    min-width:20rem;
}