.takenotetwo
{
    box-shadow: 1px 1px 1px 1px #cbcbcb;
    border:1px solid #cbcbcb;
    width: 40vw;
    height: 20vh;
    margin-left: 25vw;
    margin-top:7vh;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}

.notesbody
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:30%;
    width:90%;
}
.notesbodyMiddle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:30%;
    width:90%;
}
.notesbodyMiddle > input{
    width:100%;
    height:80%;
    border: none;
}

.notesfooter
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:30%;
    width:90%;
}
.notesicons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:grey;
    align-items:center;
    height:80%;
    width:90%;
}
.CloseButton{
    border:none;
    padding:0.4rem;
    border-radius: 5px;
}
.notesbody > input{
    width:80%;
    height:80%;
    border: none;
}



@media only screen and (max-width:300px){
    .notesicons{
        display:none;
    }
}
@media only screen and (max-width:320px){
    .IconTakeTwoo{
        display:none;
    }
}
@media only screen and (max-width:480px){
    .IconTakeTwoo{
        display:none;
    }
}
@media only screen and (max-width:750px){
    .IconTakeTwoo{
        display:none;
    }
}
@media only screen and (max-width:800px){
    .UndoIcon{
        display:none;
    }
    .RedoIcon{
        display:none;
    }
}